@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    font-size: 0.9rem;
    list-style: none;
}

/* A effacer plus tard */
.wrap {
    width: 370px;
    margin: auto;
}

/* A effacer plus tard */

/* body {
    background: url("/assets/img/body-bg.jpg") fixed center/cover no-repeat;
} */

main {
    background: url("/assets/img/body-bg.jpg") fixed center/cover no-repeat;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

/* Composant mug blanc */
article {
    width: 90%;
    height: 25vh;
    padding: 15px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px #417A27;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#mug-blanc img {
    width: 100%;
    object-fit: contain;
    transform: scale(2.5);
}

figure {
    width: 40%;
}

button {
    background-color: #417A27;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description-goodie {
    padding: 10px;
}

.description-goodie>p {
    margin-right: 40px;
    text-align: left;
    padding: 5px;
}

/* Composant mug noir */
#mug-noir img {
    width: 100%;
    object-fit: cover;
}

/* Composant t-shirt noir */
#t-shirt-blanc img {
    width: 100%;
    object-fit: cover;
    transform: scale(1.8);
}

/* Composant t-shirt blanc */
#t-shirt-noir img {
    width: 100%;
    object-fit: cover;
}

/* Composat poster métal */
#poster-metal img {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    transform: scale(0.9);
}

/* Composat peluche */
#peluche img {
    width: 100%;
    object-fit: cover;
}

/* Footer Ramy */

footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    line-height: 25px;
}

#team {
    margin-top: 30px;
}

footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(8, 43, 8, 1), rgba(8, 43, 8, 1), rgba(0, 0, 0, 1));
    color: white;
}

footer a {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
}